input {
    box-sizing: border-box;
    display: block;

    width: 365px;
    height: 48px;
    padding: 12px;

    background: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: 8px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

/* Segmented Control */

input::placeholder {
        font: var(--body-md);
        color: var(--input-placeholder);
        display: flex;
    }

input[type="datetime-local"]::-webkit-datetime-edit {
    font: var(--body-md);
    color: var(--input-placeholder);
}

input:focus {
    border: 1px solid var(--brand-light);
    outline: none;
}

.icon-active { display: none; }

.icon-default { display: inline; }

.toggle-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;
  gap: 4px;
  isolation: isolate;

  width: 272px;
  height: 48px;

  background: var(--input-base);
  border: 1px solid var(--input-stroke);
  border-radius: 8px;

    & label {
        flex: 1;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;

        border-radius: 6px;
        cursor: pointer;
        transition: all 0.2s ease;

        background: transparent;
        font: var(--text-heading);
        color: var(--text-body);
}


    & input[type="radio"] {
        display: none;
  
}

    & input[type="radio"]:checked + label .icon-active {
        display: inline;
}

    & input[type="radio"]:checked + label .icon-default {
        display: none;
}

    & input[type="radio"]:checked + label {
  background: var(--shape-button);
  
}

    & img {
        width: 16px;
        height: 16px;
  }

}

/* Calendar icon */

input[type="datetime-local"] {
  padding-right: 32px;     
  position: relative;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  opacity: 0;               
  display: block;               
  cursor: pointer;

}

input[type="date"],
input[type="datetime-local"],
input[type="time"] {
    -moz-appearance: textfield;
}

/* Textarea */

textarea {
    box-sizing: border-box;
    display: block;

    width: 100%;
    height: 120px;
    padding: 12px;

    background: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: 8px;

    font: var(--body-md);
    color: var(--text-body);

    resize: none;

    & ::placeholder {
        font: var(--body-md);
        color: var(--input-placeholder);
    }
}

/* Color Selection */

.color-selection {
  position: relative;

  & h3 {
    font: var(--body-sm);
    color: var(--text-heading);
    margin-bottom: 16px;
  }

  & > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
    gap: 8px;                      
    padding: 0;
  }


  & input[type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    margin: 0;
    inline-size: 1px;
    block-size: 1px;
  }


  & label {
    inline-size: 40px;
    block-size: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    background: var(--shape-background); 
    border: 5px solid var(--shape-button); 
    cursor: pointer;
    position: relative;
    display: inline-block;
    transition: transform .12s ease;
  }

  & input[type="radio"]:checked + label {
    outline-offset: 2px;
  }
  & input[type="radio"]:focus + label {
    box-shadow: 0 0 0 2px var(--brand-light);
  }
  & label:hover { 
    transform: scale(1.03);
    border: 5px solid var(--shape-hover);
  
  }


  & #c1 + label { background: var(--purple); }
  & #c2 + label { background: var(--fuschia); }
  & #c3 + label { background: var(--pink); }
  & #c4 + label { background: var(--orange); }
  & #c5 + label { background: var(--yellow); }
  & #c6 + label { background: var(--lime); }
  & #c7 + label { background: var(--green); }
  & #c8 + label { background: var(--cyan); }
  & #c9 + label { background: var(--navy); }
} 