input {
    box-sizing: border-box;
    display: block;

    width: 365px;
    height: 48px;
    padding: 12px;

    background: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: 8px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

input::placeholder {
        font: var(--body-md);
        color: var(--input-placeholder);
        display: flex;
    }

input[type="datetime-local"]::-webkit-datetime-edit {
    font: var(--body-md);
    color: var(--input-placeholder);
}

input:focus {
    border: 1px solid var(--brand-light);
    outline: none;
}

.icon-active { display: none; }

.icon-default { display: inline; }

.toggle-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;
  gap: 4px;
  isolation: isolate;

  width: 272px;
  height: 48px;

  background: var(--input-base);
  border: 1px solid var(--input-stroke);
  border-radius: 8px;

    & label {
        flex: 1;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;

        border-radius: 6px;
        cursor: pointer;
        transition: all 0.2s ease;

        background: transparent;
        font: var(--text-heading);
        color: var(--text-body);
}


    & input[type="radio"] {
        display: none;
  
}

    & input[type="radio"]:checked + label .icon-active {
        display: inline;
}

    & input[type="radio"]:checked + label .icon-default {
        display: none;
}

    & input[type="radio"]:checked + label {
  background: var(--shape-button);
  
}

    & img {
        width: 16px;
        height: 16px;
  }

}

input[type="datetime-local"] {
  padding-right: 32px;     
  position: relative;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  opacity: 0;               
  display: block;               
  cursor: pointer;

}

input[type="date"],
input[type="datetime-local"],
input[type="time"] {
    -moz-appearance: textfield;
}

textarea {
    box-sizing: border-box;
    display: block;

    width: 100%;
    height: 120px;
    padding: 12px;

    background: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: 8px;

    font: var(--body-md);
    color: var(--text-body);

    resize: none;

    & ::placeholder {
        font: var(--body-md);
        color: var(--input-placeholder);
    }
}