#app {
    display: grid;
    grid-template-columns: 26.88% 73.12%;

    height: 100vh;
}

aside {
    
    background: url(../assets/Background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 12px;
    padding: 32px;
    margin: 32px;
    
    & h1 {
            font: var(--logo);
            color: var(--pink);
        }

        & h2 {
            font: var(--body-md);
            color: var(--text-heading);
        }

    
    & .aside-container {
        padding-top: 16px;
        gap: 12px;
    }
}

main {
    
    background-color: var(--shape-body);

    border-radius: 12px;
    margin: 32px 32px 32px 0px;
    padding: 64px;
    gap: 48px;
    overflow: auto;

    & h1 {
        font: var(--heading-md);
        color: var(--text-heading);
    }

    & span {
        font: var(--heading-sm);
        color: var(--text-heading);
    }

}

.scroll{
    overflow: auto;    
    -ms-overflow-style: none;     
    scrollbar-width: none; 
}

.scroll::-webkit-scrollbar{
  width: 0;               
  background: transparent;
}