#app {
    display: grid;
    grid-template-columns: 26.88% 73.12%;

    height: 100vh;
}

aside {
    
    background: url(../assets/Background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 12px;
    padding: 32px;
    margin: 32px;
    
    & h1 {
            font: var(--logo);
            color: var(--pink);
        }

        & h2 {
            font: var(--body-md);
            color: var(--text-heading);
        }

    
    & .aside-container {
        padding-top: 16px;
        gap: 12px;
    }
}

main {
    
    background-color: var(--shape-body);

    border-radius: 12px;
    margin: 32px 32px 32px 0px;
    gap: 48px;

    & h1 {
            font: var(--heading-md);
            color: var(--text-heading);
            padding-bottom: 40px;
        }

        & div {
            margin-bottom: 24px;


        & span {
           font: var(--heading-sm);
           color: var(--text-heading);
           
        }

    }
 
}